.header{
    background: red;
    width: 100%;
}
.conteiner1{
    background: #260201;
}
.conteiner2{
    background: #860303;
}

@media screen {
    .conteiner1, .conteiner2{
        min-height: 200px;
        max-width: 1200px;
    }
}

.page{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: auto;
    background: url(https://kartinkin.net/uploads/posts/2021-07/1625492395_1-kartinkin-com-p-krasnii-fon-dlya-shapki-krasivie-foni-1.jpg) center;
}

.head-photo{
    position: relative;
    width: 100%;
    height: 20vh;
    background: url(https://kartinkin.net/uploads/posts/2021-07/1625492395_1-kartinkin-com-p-krasnii-fon-dlya-shapki-krasivie-foni-1.jpg) no-repeat center;
    background-size: cover;
}

.head-text{
    font-family: 'Brush Script MT', sans-serif;
    color: whitesmoke;
}
.menu-item p{
    margin: -2vh;
    font-size: 185%;
}

body{
    background: black;
    margin: 0;
}
main{
    color: whitesmoke;
    margin: 0 14% 0;
}
.menu{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
}
.menu-item{
    flex: auto;
    text-align: center;
    font-size: 140%;
    margin-top: 8vh;
}
.menu-item a{
    color: whitesmoke;
    text-decoration: none;
}
.my{
    width: 100%;
    height: 63vh;
    position: relative;
    overflow: hidden;
    display: flex;
}
.my-item{
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.name{
    text-align: center;
    font-family: 'Trattatello', sans-serif;
    font-size: 220%;
    margin-top: 3vh;
}
.photo{
    width: 70%;
    background: red;
    border: 1px solid #000;
    border-radius: 10px;
}
.my-item ul{
    height: 100%;
    overflow: hidden;
}
.my-item li{
    list-style-type: none;
    margin-top: 20%;
    font-size: 150%;
    height: 20%;
}
.my-item pre{
    margin: 0 0 0 -31%;
}
.grid-cont{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 10.5vh);
}
.grid-cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
}
.hobby1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 7;
}
.hobby2{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}

.mask{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    background: #696666;
    transition: all 0.4s ease-in-out;
}
.mask:hover{
    opacity: 0.6;
    z-index: 999999;
}
.mask:hover mask_{
    opacity: 1;
}
.mask p2{
    text-transform: uppercase;
    color: white;
    text-align: center;
    position: relative;
}
.mask p{
    text-align: center;
    position: relative;
    font-style: italic;
}
.info{
    display: inline-block;
    text-decoration: none;
    background: black;
    color: white;
    text-transform: uppercase;
    box-shadow: 0 0 1px black;
}
.info:hover{
    box-shadow: 0 0 5px black;
    opacity: 1;
}
.hobby3{
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 7;
}
.hobby4{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
}
.hobby5{
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 3;
}

.footer {
    margin-top: auto;
    position: relative;
    color: black;
    padding-bottom: 45px;
    overflow: hidden;
    background: #282a2f url(https://kartinkin.net/uploads/posts/2021-07/1625492395_1-kartinkin-com-p-krasnii-fon-dlya-shapki-krasivie-foni-1.jpg) no-repeat center;
}
.footer_container{
    display: flex;
}

.footer_menu{
    flex: auto;
}
.footer_menu ul{
    color: whitesmoke;
}
.footer_menu-item{
    color: whitesmoke;
}
.footer_menu-item a{
    color: whitesmoke;
}
.footer_menu-item a:visited{
    color: #003B4A;
}
.footer_menu-item a:hover{
    color: #803500
}
.footer_menu svg{
    position: absolute;
    right: 7vw;
    top: 2vh;
}